.page {
  height: 100vh;
  display: flex;
   justify-content: center;
  position: relative;


}


.page-start{
   background-color: #202729;
  background-image: linear-gradient(315deg, #007c85 0%, #07060f 74%);
 align-items: center;
}
.page-problem{
   background-image: linear-gradient(315deg, #07060f 0%, #0e5c7a 74%);
   align-items: flex-start;
}


.form{
  position: absolute;
  justify-content: center;
}


.title{
     
    color: rgb(255, 255, 255);
      font-family: 'Montserrat', sans-serif;
justify-content: center;
      text-align: center;
}

.title-foot{
    position:absolute;

    bottom: 150px;
    font-size: 20px;
}
.title-top{
  font-size: 50px;
font-weight: 600;
  padding-top: 5%;
  padding-bottom: 2%;
}
.button {

  height: 80px;
  min-width: 150px;
  border: none;
  border-radius: 10px;
  color: #eee;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: 1s;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  
}



.button-init{
  background: rgb(0, 0, 0);
  font-size: 40px;
}
.button-init:hover {
    border-style: dashed;
    border-color: rgb(65, 63, 63);
  background: transparent;
}
.button-exercise{
    background: #00081f;
font-size: 20px;
margin: 25px 25px 25px 25px;
}

.button-exercise:hover{
  
       border-style: groove;
    border-color: #ffffff;
}
.button-calculate{

   background: hsl(229, 67%, 10%);
font-size: 20px;
margin-left: 25%;
margin-right: 25%;

}
.button-calculate:hover{
border-style: ridge;
    border-color: rgb(29, 163, 197);
  background: transparent;
}

textarea{
  resize: none;
}
.output{
  font-size: 25px;
  color: white;
  line-height:1.2em;
  background:linear-gradient(180deg,rgba(12, 11, 11, 0.363) 0,rgba(9, 34, 66, 0.301) 1.2em,rgba(0, 0, 0, 0) 0);
white-space: normal;
  background-origin:content-box;
  margin-top: 5%;
  text-align:center;


}




/* animations */

.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}


.slide-fade-enter-active {
  transition: all .2s ease;
}
.slide-fade-leave-active {
  transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, 
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}